<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="symbbuzz.com.symbbuzzlib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".services.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
    </application>

</manifest>
